{% extends 'base/html.html' %}
{% load boost boost_url %}
{% load boost %}

{% block title %}Page Title{% endblock title %}

{% block body %}

<p><span>{{ number|abs }}</span></p>
<p><span>{% replace_parameters request 'a' 1 'b' 2 %}</span></p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="登録">
</form>



{% for i,j in "abcd"|zip:"1234" %}
    {{i}}{{j|getattr:"__class__"}}
{% endfor %}



{% literal "[1,2,4,5,6,7,8]" as l %}



{% for i in l %}
    <p>{{ i }}</p>
{% endfor %}



{% for i in l|chunked:3 %}
    <p>{{i}}</p>
    {% for j in i %}
        <p>{{j}}</p>
    {% endfor %}
        
{% endfor %}
    


{% endblock body %}
